<h1>My Watch Lists</h1>


<ul>
<% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %> </li>
<% end %>
</ul>



<%= link_to "NEW LIST", new_list_path %>

<%= cl_image_tag("https://res.cloudinary.com/dvlddajud/image/upload/v1631265273/vgihni0adhg6hjcds9k1.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("https://res.cloudinary.com/dvlddajud/image/upload/v1631264754/sample.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
