<div class="title">
  <h1><%= @list.name %> </h1>
</div>

<div class="movies">
    <% @list.movies.each do |movie| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2></h2>
        <p> <strong></strong> .</p>


        <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
        <%= movie.title %> | <%= link_to "X", bookmark_path(bookmark), method: :delete %>
        </div>
      </div>
    <% end %>
</div>

<div class="new-list">
  <%= link_to "ADD BOOKMARK", new_list_bookmark_path(@list) %>
</div>
